.taskbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #111;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #444;
    z-index: 1000;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #111;
    max-width: 100px;
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 50%;
    border-radius: 5px;
    transform: translate(-50%, 0%);
    width: 100%;
    border: 1px solid #444;
    z-index: 1000;
    color: white
}

.header img {
    height: 32px;
    width: 32px;
}

.taskbar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    color: #ccc;
    font-size: 12px;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.taskbar-item .fa-icon {
    margin-bottom: 4px;
}

.taskbar-item:hover,
.taskbar-item:focus {
    color: #ff6600;
}

.taskbar-item span {
    font-size: 12px;
}
